.mainDrawer {
    background-color: var(--sidebar-color) !important;
    -webkit-backdrop-filter: blur(var(--sidebar-blur-amount)) !important;
    backdrop-filter: blur(--sidebar-blur-amount) !important;
    width: var(--sidebar-width) !important;
}

.tmla-mask.backdrop {
    color: var(--sidebar-background-color) !important;
    -webkit-backdrop-filter: blur(var(--sidebar-background-blur-amount)) !important;
    backdrop-filter: blur(var(--sidebar-background-blur-amount)) !important;
}